.rs-banner {
  height: 100vh;
  max-height: 973px;
  background-color: #000000;
}
@media (max-width: 991.98px) {
  .rs-banner {
    max-height: 604px;
  }
}
.rs-banner._small-banner {
  max-height: 645px;
}
@media (max-width: 991.98px) {
  .rs-banner._small-banner {
    max-height: 530px;
  }
}
.rs-banner._block-banner {
  background-color: #fff;
  max-height: 100%;
  height: auto;
}
.rs-banner._block-banner .rs-banner__block {
  height: 100vh;
  max-height: 645px;
}
@media (max-width: 991.98px) {
  .rs-banner._block-banner .rs-banner__block {
    max-height: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 991.98px) {
  .rs-banner._block-banner > .rs-banner__container {
    display: none;
  }
}
.rs-banner._block-banner > .rs-banner__container > h2 {
  margin-bottom: 40px;
}
@media (max-width: 1439.98px) {
  .rs-banner._block-banner > .rs-banner__container > h2 {
    margin-bottom: 20px;
  }
}
.rs-banner__block {
  height: 100%;
  width: 100%;
  position: relative;
}
.rs-banner__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 991.98px) {
  ._block-banner .rs-banner__bg {
    height: 225px;
    position: relative;
  }
}
.rs-banner__bg::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(7.315%, rgba(0, 0, 0, 0.74)), color-stop(24.795%, rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.41)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.74) 7.315%, rgba(0, 0, 0, 0.55) 24.795%, rgba(0, 0, 0, 0.41) 100%);
}
._small-banner .rs-banner__bg::after {
  display: none;
}
._inner-banner .rs-banner__bg::after {
  display: none;
}
.rs-banner__bg iframe,
.rs-banner__bg video,
.rs-banner__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 991.98px) {
  .rs-banner__bg iframe.rs-banner__bg--desk,
  .rs-banner__bg video.rs-banner__bg--desk,
  .rs-banner__bg img.rs-banner__bg--desk {
    display: none;
  }
}
@media (min-width: 991.98px) {
  .rs-banner__bg iframe.rs-banner__bg--mob,
  .rs-banner__bg video.rs-banner__bg--mob,
  .rs-banner__bg img.rs-banner__bg--mob {
    display: none;
  }
}
.rs-banner__content {
  padding: 52px 0px;
  position: relative;
  z-index: 10;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1439.98px) {
  .rs-banner__content {
    padding: 40px 0px;
  }
}
@media (max-width: 991.98px) {
  .rs-banner__content {
    padding: 20px 0px;
  }
}
._small-banner .rs-banner__content {
  padding: 40px 0px;
}
@media (max-width: 991.98px) {
  ._small-banner .rs-banner__content {
    padding: 30px 0px;
  }
}
@media (max-width: 991.98px) {
  ._block-banner .rs-banner__content {
    padding: 0px 0px 21px;
  }
}
.rs-banner__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px 115px;
  color: rgb(255, 255, 255);
}
@media (max-width: 1439.98px) {
  .rs-banner__wrapper {
    padding: 0px 40px;
  }
}
@media (max-width: 991.98px) {
  .rs-banner__wrapper {
    padding: 0px 50px 0px 0px;
  }
}
._small-banner .rs-banner__wrapper {
  padding: 0px;
}
@media (max-width: 991.98px) {
  ._block-banner .rs-banner__wrapper {
    color: #000000;
  }
}
.rs-banner__scroll-down {
  position: absolute;
  bottom: 3px;
  left: 0;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  white-space: nowrap;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1439.98px) {
  .rs-banner__scroll-down {
    bottom: 0px;
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 991.98px) {
  .rs-banner__scroll-down {
    display: none;
  }
}
.rs-banner__scroll-down::before {
  content: "";
  position: relative;
  display: block;
  width: 6px;
  height: 6px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  margin-bottom: 14px;
}
.rs-banner__body h6 {
  margin-top: 10px;
}
@media (max-width: 991.98px) {
  .rs-banner__body h6 {
    margin-top: 5px;
  }
}
.rs-banner__body h5 {
  color: #fff;
  margin-top: 14px;
}
@media (max-width: 991.98px) {
  ._block-banner .rs-banner__body h5 {
    color: #000000;
  }
}
._small-banner .rs-banner__body h1 {
  font-family: "Jost", sans-serif;
  font-weight: 200;
  font-size: 60px;
  line-height: 110%;
}
@media (max-width: 1439.98px) {
  ._small-banner .rs-banner__body h1 {
    font-size: 45px;
  }
}
@media (max-width: 991.98px) {
  ._small-banner .rs-banner__body h1 {
    font-size: 30px;
  }
}
.rs-banner__video-control {
  position: absolute;
  bottom: 5px;
  right: 0;
}