.rs-form {
  padding: 100px 0px;
}
@media (max-width: 1439.98px) {
  .rs-form {
    padding: 70px 0px;
  }
}
@media (max-width: 1169.98px) {
  .rs-form {
    padding: 50px 0px;
  }
}
@media (max-width: 991.98px) {
  .rs-form {
    padding: 30px 0px;
  }
}
.rs-form__wrapper {
  max-width: 1170px;
  margin: 0 auto;
}
.rs-form__wrapper h4 {
  color: #0c75af;
  margin-bottom: 13px;
  text-align: center;
}
.rs-form__wrapper h1 {
  font-family: "Jost", sans-serif;
  font-weight: 200;
  font-size: 60px;
  line-height: 110%;
  text-align: center;
}
@media (max-width: 1439.98px) {
  .rs-form__wrapper h1 {
    font-size: 45px;
  }
}
@media (max-width: 1169.98px) {
  .rs-form__wrapper h1 {
    font-size: 35px;
  }
}
@media (max-width: 991.98px) {
  .rs-form__wrapper h1 {
    font-size: 20px;
  }
}
.rs-form__block {
  margin-top: 86px;
}
@media (max-width: 1439.98px) {
  .rs-form__block {
    margin-top: 70px;
  }
}
@media (max-width: 1169.98px) {
  .rs-form__block {
    margin-top: 50px;
  }
}
@media (max-width: 991.98px) {
  .rs-form__block {
    margin-top: 30px;
  }
}