@charset "UTF-8";
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Light.woff2") format("woff2"), url("../fonts/Jost-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-ExtraLight.woff2") format("woff2"), url("../fonts/Jost-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Tilda Sans";
  src: url("../fonts/TildaSans-Semibold.woff2") format("woff2"), url("../fonts/TildaSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Tilda Sans";
  src: url("../fonts/TildaSans-Bold.woff2") format("woff2"), url("../fonts/TildaSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Tilda Sans";
  src: url("../fonts/TildaSans-Medium.woff2") format("woff2"), url("../fonts/TildaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Tilda Sans";
  src: url("../fonts/TildaSans-Regular.woff2") format("woff2"), url("../fonts/TildaSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Non-Standard, But More Styling-Capable Properties */
  /* Standardized Properties */
}
*::-webkit-scrollbar {
  cursor: pointer;
  width: 6px;
  background: transparent;
  border-radius: 3px;
}
*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #0c75af;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border-radius: 3px;
}
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: #0c75af #fff;
    scrollbar-width: thin;
  }
}
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Non-Standard, But More Styling-Capable Properties */
  /* Standardized Properties */
}
*::before::-webkit-scrollbar, *::after::-webkit-scrollbar {
  cursor: pointer;
  width: 6px;
  background: transparent;
  border-radius: 3px;
}
*::before::-webkit-scrollbar-thumb, *::after::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #0c75af;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border-radius: 3px;
}
@supports not selector(::-webkit-scrollbar) {
  *::before, *::after {
    scrollbar-color: #0c75af #fff;
    scrollbar-width: thin;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

html,
body {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

body {
  color: #353535;
  line-height: 1;
  font-family: "Tilda Sans", sans-serif;
  font-size: 14px;
  background: #fff;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  outline: none;
  font-family: "Tilda Sans", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background: transparent;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

a {
  cursor: pointer;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: inline-block;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  margin: 0 auto;
  width: 100%;
  max-width: 1810px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 768px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: 100%;
  }
}
[class*=__container] [class*=__container] {
  padding: 0;
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

section {
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1000;
}
.bgdark-on body::before {
  opacity: 1;
  visibility: visible;
}

.preloader {
  position: relative;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10000;
  pointer-events: none;
}
.preloader::after, .preloader::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.preloader::before {
  z-index: 2;
  -webkit-transform: translateX(-1000%);
      -ms-transform: translateX(-1000%);
          transform: translateX(-1000%);
  background-color: #0c75af;
}
.preloader::after {
  z-index: 1;
  -webkit-transform: translateX(-1000%);
      -ms-transform: translateX(-1000%);
          transform: translateX(-1000%);
  background-color: #20487b;
}
.preloader.aos-animate::before {
  -webkit-animation: animationPreloader 1s cubic-bezier(0.86, 0, 0.07, 1) forwards;
          animation: animationPreloader 1s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}
.preloader.aos-animate::after {
  -webkit-animation: animationPreloader 0.8s 0.2s cubic-bezier(0.86, 0, 0.07, 1) forwards;
          animation: animationPreloader 0.8s 0.2s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}
@-webkit-keyframes animationPreloader {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@keyframes animationPreloader {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.bgvideo__control {
  width: 40px;
  height: 40px;
  padding: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 50%;
  background: rgb(255, 255, 255);
}
@media (max-width: 991.98px) {
  .bgvideo__control {
    width: 30px;
    height: 30px;
    bottom: 0px;
    padding: 9px;
  }
}
.bgvideo__control svg {
  width: 100%;
  height: 100%;
  display: none;
}
.bgvideo__control svg.is-active {
  display: block;
}

h1 {
  font-family: "Jost";
  font-size: 80px;
  font-weight: 200;
  line-height: 110%;
  letter-spacing: 0;
}
@media (max-width: 1439.98px) {
  h1 {
    font-size: 65px;
  }
}
@media (max-width: 1169.98px) {
  h1 {
    font-size: 50px;
  }
}
@media (max-width: 991.98px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-family: "Jost";
  font-size: 50px;
  font-weight: 200;
  line-height: 110%;
  letter-spacing: 0px;
}
@media (max-width: 1439.98px) {
  h2 {
    font-size: 35px;
  }
}
@media (max-width: 991.98px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-family: "Jost";
  font-size: 40px;
  font-weight: 200;
  line-height: 110%;
  letter-spacing: 0px;
}
@media (max-width: 1439.98px) {
  h3 {
    font-size: 30px;
  }
}
@media (max-width: 991.98px) {
  h3 {
    font-size: 20px;
    line-height: 120%;
  }
}

h4 {
  font-family: "Jost";
  font-size: 30px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0px;
}
@media (max-width: 1439.98px) {
  h4 {
    font-size: 25px;
  }
}
@media (max-width: 991.98px) {
  h4 {
    font-size: 20px;
  }
}

h5 {
  color: rgb(60, 60, 60);
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.5px;
}
@media (max-width: 1439.98px) {
  h5 {
    font-size: 16px;
  }
}
@media (max-width: 991.98px) {
  h5 {
    font-size: 13px;
  }
}

h6 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.5px;
}
@media (max-width: 1439.98px) {
  h6 {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 1169.98px) {
  h6 {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 991.98px) {
  h6 {
    font-size: 13px;
    line-height: 16px;
  }
}

p {
  color: rgb(60, 60, 60);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.5px;
}
@media (max-width: 991.98px) {
  p {
    font-size: 13px;
  }
}

.rs-btn {
  position: relative;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 10;
  font-family: "Tilda Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  border-radius: 45px;
  padding: 16px 20px;
}
@media (max-width: 1439.98px) {
  .rs-btn {
    font-size: 13px;
    padding: 12px 16px;
  }
}
.rs-btn::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: inherit;
  background-color: #0c75af;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0s, -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
@media (any-hover: hover) {
  .rs-btn:hover::before {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.rs-btn._btn-border-white {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}
.rs-btn._btn-border-white::before {
  background-color: #fff;
}
@media (any-hover: hover) {
  .rs-btn._btn-border-white:hover {
    color: #0c75af;
  }
}
.rs-btn._btn-primary {
  color: #fff;
  background: #0c75af;
  border: 1px solid #0c75af;
}
.rs-btn._btn-primary::before {
  background-color: #fff;
}
@media (any-hover: hover) {
  .rs-btn._btn-primary:hover {
    color: #0c75af;
  }
}
.rs-btn._btn-white {
  color: #0c75af;
  background: #fff;
  border: 1px solid #fff;
}
.rs-btn._btn-white::before {
  background-color: #0c75af;
}
@media (any-hover: hover) {
  .rs-btn._btn-white:hover {
    color: #fff;
    border-color: #0c75af;
  }
}
.rs-btn._btn-primary-border {
  border: 1px solid #0c75af;
  background-color: transparent;
  color: #0c75af;
}
.rs-btn._btn-primary-border::before {
  background-color: #0c75af;
}
@media (any-hover: hover) {
  .rs-btn._btn-primary-border:hover {
    color: #fff;
  }
}

.rs-btn-arrow {
  position: relative;
  overflow: hidden;
  -webkit-transition: border-color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #0c75af;
  background-color: #fff;
}
@media (max-width: 991.98px) {
  .rs-btn-arrow {
    width: 40px;
    height: 40px;
  }
}
.rs-btn-arrow::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: inherit;
  background-color: #0c75af;
  z-index: 0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.rs-btn-arrow svg {
  width: 20px;
  height: 12px;
  position: relative;
  z-index: 2;
}
.rs-btn-arrow svg path {
  -webkit-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}
@media (any-hover: hover) {
  .rs-btn-arrow:hover::before {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .rs-btn-arrow:hover svg path {
    fill: #fff;
  }
}

@media (min-width: 767.98px) {
  .form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px -15px;
  }
  .form__row .form__line {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding: 0px 15px;
  }
}
.form__line {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}
@media (max-width: 991.98px) {
  .form__line {
    margin-bottom: 15px;
  }
}
.form__error {
  margin-top: 5px;
  color: #eb1320;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.39px;
}
@media (max-width: 1439.98px) {
  .form__error {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  .form__error {
    font-size: 12px;
  }
}
.form__blockquote {
  padding: 20px;
  border-radius: 5px;
  background: #ecf6ff;
  margin: 17px 0px;
}
@media (max-width: 1699.98px) {
  .form__blockquote {
    padding: 20px 30px;
  }
}
@media (max-width: 991.98px) {
  .form__blockquote {
    padding: 10px 15px;
    margin: 15px 0px;
  }
}
.form__blockquote-text span {
  margin-top: 10px;
  display: block;
  color: #0c75af;
}
.form__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}
@media (max-width: 767.98px) {
  .form__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 15px;
  }
}
.form__footer .form__button {
  margin: 0;
  min-width: 279px;
  max-width: 279px;
}
@media (max-width: 767.98px) {
  .form__footer .form__button {
    min-width: 100%;
    max-width: 100%;
    margin-top: 15px;
  }
}
.form__footer .form__button .rs-btn {
  width: 100%;
}
.form__footer .form__agreement {
  margin-right: 30px;
  max-width: 609px;
}
@media (max-width: 1439.98px) {
  .form__footer .form__agreement {
    margin-right: 15px;
  }
}
@media (max-width: 767.98px) {
  .form__footer .form__agreement {
    margin-right: 0px;
    margin-bottom: 10px;
    max-width: 100%;
  }
}
.form__agreement {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #3c3c3c;
}
@media (max-width: 1439.98px) {
  .form__agreement {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  .form__agreement {
    font-size: 12px;
  }
}
.form__agreement a {
  text-decoration: underline;
  text-underline-offset: 2px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
@media (any-hover: hover) {
  .form__agreement a:hover {
    text-decoration: none;
  }
}
.form__button {
  width: 100%;
  margin-top: 15px;
}
.form__button .rs-btn {
  width: 100%;
}

.rs-input-label {
  display: block;
  font-family: "Tilda Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #3c3c3c;
  margin-bottom: 17px;
}
@media (max-width: 1699.98px) {
  .rs-input-label {
    font-size: 14px;
    margin-bottom: 15px;
  }
}
@media (max-width: 1169.98px) {
  .rs-input-label {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.rs-input {
  outline: none;
  width: 100%;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 30px;
  font-family: "Tilda Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #000;
}
@media (max-width: 1699.98px) {
  .rs-input {
    font-size: 18px;
    padding: 20px;
  }
}
@media (max-width: 1439.98px) {
  .rs-input {
    font-size: 16px;
  }
}
@media (max-width: 1169.98px) {
  .rs-input {
    font-size: 13px;
    padding: 15px 10px;
  }
}
.rs-input::-webkit-input-placeholder {
  color: #dbdbdb;
}
.rs-input::-moz-placeholder {
  color: #dbdbdb;
}
.rs-input:-ms-input-placeholder {
  color: #dbdbdb;
}
.rs-input::-ms-input-placeholder {
  color: #dbdbdb;
}
.rs-input::placeholder {
  color: #dbdbdb;
}
.rs-input._form-error {
  border-color: #eb1320;
}

textarea.rs-input {
  resize: vertical;
  min-height: 215px;
}

.swiper.swiper-initialized {
  overflow: hidden;
}
.swiper.swiper-initialized .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.swiper.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-grid > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-prev:active, .swiper-button-prev:focus,
.swiper-button-next:active,
.swiper-button-next:focus {
  outline: none !important;
}
.swiper-button-prev::-moz-focus-inner,
.swiper-button-next::-moz-focus-inner {
  border: 0 !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0px;
}

.swiper-pagination-bullet:active, .swiper-pagination-bullet:focus {
  outline: none !important;
}
.swiper-pagination-bullet::-moz-focus-inner {
  border: 0 !important;
}

.swiper-button-lock,
.swiper-pagination-lock {
  display: none !important;
}

.swiper-button-next,
.swiper-button-prev {
  overflow: hidden;
  position: absolute;
  top: 50%;
  margin-top: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border-color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s;
  min-width: 48px;
  min-height: 48px;
  max-width: 48px;
  max-height: 48px;
  border-radius: 50%;
  border: 1px solid #0c75af;
  background-color: #fff;
}
.swiper-button-next::before,
.swiper-button-prev::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: inherit;
  background-color: #0c75af;
  z-index: 0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.swiper-button-next:not(:last-child),
.swiper-button-prev:not(:last-child) {
  margin-right: 12px;
}
.swiper-button-next svg,
.swiper-button-prev svg {
  width: 20px;
  height: 12px;
  position: relative;
  z-index: 2;
}
.swiper-button-next svg path,
.swiper-button-prev svg path {
  -webkit-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  border-color: #dbdbdb;
}
.swiper-button-next.swiper-button-disabled svg path,
.swiper-button-prev.swiper-button-disabled svg path {
  fill: #dbdbdb;
}
@media (any-hover: hover) {
  .swiper-button-next:hover::before,
  .swiper-button-prev:hover::before {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .swiper-button-next:hover svg path,
  .swiper-button-prev:hover svg path {
    fill: #fff;
  }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: -24px;
  right: auto;
}
.swiper-button-prev::before,
.swiper-rtl .swiper-button-next::before {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: -24px;
  left: auto;
}
.swiper-button-next::before,
.swiper-rtl .swiper-button-prev::before {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.swiper-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .swiper-navigation {
    display: none;
  }
}
.swiper-navigation .swiper-button-next,
.swiper-navigation .swiper-button-prev {
  position: relative;
  top: 0%;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
.swiper-navigation .swiper-button-prev,
.swiper-navigation .swiper-rtl .swiper-button-next {
  left: 0px;
  right: 0px;
}
.swiper-navigation .swiper-button-next,
.swiper-navigation .swiper-rtl .swiper-button-prev {
  right: 0px;
  left: 0px;
}

.rs-breadcrumbs {
  position: relative;
  margin-top: 14px;
}
@media (max-width: 991.98px) {
  .rs-breadcrumbs {
    margin-top: 3px;
  }
}
.rs-breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.rs-breadcrumbs__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1439.98px) {
  .rs-breadcrumbs__item {
    font-size: 18px;
  }
}
@media (max-width: 1169.98px) {
  .rs-breadcrumbs__item {
    font-size: 16px;
  }
}
@media (max-width: 991.98px) {
  .rs-breadcrumbs__item {
    font-size: 13px;
  }
}
.rs-breadcrumbs__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rs-breadcrumbs__link:after {
  content: "—";
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 5px 4px;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 1001;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
  z-index: 1002;
}

.popup__close {
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 10;
  width: 30px;
  height: 30px;
}
.popup__close svg {
  width: 100%;
  height: 100%;
}
@media (max-width: 1439.98px) {
  .popup__close {
    right: 20px;
    top: 20px;
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 991.98px) {
  .popup__close {
    right: 10px;
    height: 10px;
    width: 10px;
    height: 10px;
  }
}

.popup-show .popup {
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup-show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #fff;
  padding: 0px;
  width: 100%;
  max-width: 670px;
  padding: 50px;
  border-radius: 5px;
  position: relative;
}
@media (max-width: 1439.98px) {
  .popup__content {
    padding: 30px;
  }
}
@media (max-width: 991.98px) {
  .popup__content {
    padding: 15px;
  }
}

.popup__form {
  margin-top: 30px;
}
@media (max-width: 991.98px) {
  .popup__form {
    margin-top: 15px;
  }
}

.popup__content h1 {
  font-family: "Jost", sans-serif;
  font-weight: 200;
  font-size: 60px;
  line-height: 110%;
  text-align: center;
}
@media (max-width: 1439.98px) {
  .popup__content h1 {
    font-size: 45px;
  }
}
@media (max-width: 1169.98px) {
  .popup__content h1 {
    font-size: 35px;
  }
}
@media (max-width: 991.98px) {
  .popup__content h1 {
    font-size: 20px;
  }
}

.pagging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 60px;
}
@media (max-width: 1439.98px) {
  .pagging {
    margin-top: 40px;
  }
}
@media (max-width: 991.98px) {
  .pagging {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
}
.pagging__arrow {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.03em;
  color: #3c3c3c;
}
@media (max-width: 1439.98px) {
  .pagging__arrow {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  .pagging__arrow {
    font-size: 13px;
  }
}
.pagging__arrow:disabled {
  color: #898989;
  pointer-events: none;
  cursor: default;
}
@media (any-hover: hover) {
  .pagging__arrow:hover {
    color: #0c75af;
  }
}
.pagging__arrow.pagging__arrow_back {
  margin-right: 23px;
}
@media (max-width: 1439.98px) {
  .pagging__arrow.pagging__arrow_back {
    margin-right: 15px;
  }
}
@media (max-width: 991.98px) {
  .pagging__arrow.pagging__arrow_back {
    margin-right: 10px;
  }
}
@media (max-width: 767.98px) {
  .pagging__arrow.pagging__arrow_back {
    display: none;
  }
}
.pagging__arrow.pagging__arrow_go {
  margin-left: 23px;
}
@media (max-width: 1439.98px) {
  .pagging__arrow.pagging__arrow_go {
    margin-left: 15px;
  }
}
@media (max-width: 991.98px) {
  .pagging__arrow.pagging__arrow_go {
    margin-left: 10px;
  }
}
@media (max-width: 767.98px) {
  .pagging__arrow.pagging__arrow_go {
    display: none;
  }
}
.pagging__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagging__item:not(:last-child) {
  margin-right: 15px;
}
@media (max-width: 991.98px) {
  .pagging__item:not(:last-child) {
    margin-right: 5px;
  }
}
.pagging__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
  min-width: 48px;
  min-height: 48px;
  max-width: 48px;
  max-height: 48px;
  border-radius: 50%;
  border: 1px solid transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.03em;
  color: #3c3c3c;
}
@media (max-width: 1439.98px) {
  .pagging__link {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  .pagging__link {
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
    font-size: 13px;
  }
}
.pagging__link._active {
  border-color: #dbdbdb;
}
@media (any-hover: hover) {
  .pagging__link:hover {
    border-color: #dbdbdb;
  }
}

.select {
  position: relative;
  width: 100%;
}
.select__body {
  position: relative;
}
.select__title {
  color: inherit;
  text-align: left;
  cursor: pointer;
  width: 100%;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  border-radius: 50px;
  position: relative;
  z-index: 11;
  -webkit-transition: border-color 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, background-color 0.3s ease 0s;
}
.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #000;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (max-width: 1439.98px) {
  .select__value {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  .select__value {
    padding: 10px 20px;
    font-size: 13px;
  }
}
.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.select__value:after {
  content: "";
  background-image: url("../img/icons/select-arrow-blue.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 13px;
  max-height: 8px;
  min-width: 13px;
  min-height: 8px;
  margin: 0px 0px 0px 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}
.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.select__options {
  position: absolute;
  top: calc(100% - 29px);
  min-width: 100%;
  left: 0;
  -webkit-box-shadow: 0 11px 22px 0 rgba(0, 64, 100, 0.1);
          box-shadow: 0 11px 22px 0 rgba(0, 64, 100, 0.1);
  background: #fff;
  border-radius: 5px;
  padding: 38px 20px 8px 20px;
  z-index: 10;
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 164px;
  padding-right: 12px;
  /* Non-Standard, But More Styling-Capable Properties */
  /* Standardized Properties */
}
.select__scroll::-webkit-scrollbar {
  cursor: pointer;
  width: 2px;
  background: #dbdbdb;
  border-radius: 1px;
}
.select__scroll::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #0c75af;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border-radius: 1px;
}
@supports not selector(::-webkit-scrollbar) {
  .select__scroll {
    scrollbar-color: #0c75af #dbdbdb;
    scrollbar-width: thin;
  }
}
.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 12px 0px;
}
@media (max-width: 991.98px) {
  .select__option {
    font-size: 13px;
  }
}
.select__option:not(:last-child) {
  border-bottom: 1px solid #dbdbdb;
}
.select__option:first-child {
  display: none;
}
.select__option._select-selected {
  color: #0c75af;
}
@media (any-hover: hover) {
  .select__option:hover {
    color: #0c75af;
  }
}
.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.select._select-open {
  z-index: 5;
}
.select._select-open .select__title {
  background-color: #0c75af;
  border-color: #0c75af;
}
.select._select-open .select__value {
  color: #fff;
}
.select._select-open .select__value::after {
  background-image: url("../img/icons/select-arrow-white.svg");
}

._select-tag {
  cursor: pointer;
}

[data-reveal-anim] {
  position: relative;
  overflow: hidden;
}
[data-reveal-anim] img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
[data-reveal-anim] * {
  opacity: 0;
  -webkit-transition: all 0s ease 0.8s;
  transition: all 0s ease 0.8s;
}
[data-reveal-anim].aos-animate * {
  opacity: 1;
}
[data-reveal-anim]::after, [data-reveal-anim]::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
[data-reveal-anim]::before {
  background-color: rgb(255, 255, 255);
  z-index: 1;
  -webkit-transform: translateX(-1000%);
      -ms-transform: translateX(-1000%);
          transform: translateX(-1000%);
}
[data-reveal-anim]::after {
  background-color: rgb(255, 255, 255);
  z-index: 2;
  -webkit-transform: translateX(-1000%);
      -ms-transform: translateX(-1000%);
          transform: translateX(-1000%);
}
[data-reveal-anim][data-reveal-anim-up].aos-animate::before {
  -webkit-animation: animationPictureUp 1.2s cubic-bezier(0.86, 0, 0.07, 1) forwards;
          animation: animationPictureUp 1.2s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}
[data-reveal-anim][data-reveal-anim-up].aos-animate::after {
  -webkit-animation: animationPictureUp 1.2s 0.2s cubic-bezier(1, 0, 0.54, 0.99) forwards;
          animation: animationPictureUp 1.2s 0.2s cubic-bezier(1, 0, 0.54, 0.99) forwards;
}
[data-reveal-anim][data-reveal-anim-down].aos-animate::before {
  -webkit-animation: animationPictureDown 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
          animation: animationPictureDown 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}
[data-reveal-anim][data-reveal-anim-down].aos-animate::after {
  -webkit-animation: animationPictureDown 1.2s 0.2s cubic-bezier(1, 0, 0.54, 0.99) forwards;
          animation: animationPictureDown 1.2s 0.2s cubic-bezier(1, 0, 0.54, 0.99) forwards;
}
[data-reveal-anim][data-reveal-anim-right].aos-animate::before {
  -webkit-animation: animationPictureRight 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
          animation: animationPictureRight 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}
[data-reveal-anim][data-reveal-anim-right].aos-animate::after {
  -webkit-animation: animationPictureRight 1.2s 0.2s cubic-bezier(1, 0, 0.54, 0.99) forwards;
          animation: animationPictureRight 1.2s 0.2s cubic-bezier(1, 0, 0.54, 0.99) forwards;
}
[data-reveal-anim][data-reveal-anim-left].aos-animate::before {
  -webkit-animation: animationPictureLeft 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
          animation: animationPictureLeft 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}
[data-reveal-anim][data-reveal-anim-left].aos-animate::after {
  -webkit-animation: animationPictureLeft 1.2s 0.2s cubic-bezier(1, 0, 0.54, 0.99) forwards;
          animation: animationPictureLeft 1.2s 0.2s cubic-bezier(1, 0, 0.54, 0.99) forwards;
}

@-webkit-keyframes animationPictureLeft {
  0% {
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@keyframes animationPictureLeft {
  0% {
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}
@-webkit-keyframes animationPictureUp {
  0% {
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(101%);
            transform: translateY(101%);
  }
}
@keyframes animationPictureUp {
  0% {
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(101%);
            transform: translateY(101%);
  }
}
@-webkit-keyframes animationPictureRight {
  0% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
}
@keyframes animationPictureRight {
  0% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
}
@-webkit-keyframes animationPictureDown {
  0% {
    -webkit-transform: translateY(101%);
            transform: translateY(101%);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
  }
}
@keyframes animationPictureDown {
  0% {
    -webkit-transform: translateY(101%);
            transform: translateY(101%);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
  }
}
[data-zoom-anim] {
  position: relative;
  overflow: hidden;
}
[data-zoom-anim] img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
[data-zoom-anim].aos-animate img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 55.9%;
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container .youtube {
  background: transparent;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container .youtube {
  cursor: pointer;
}
.video-container .youtube > img {
  display: none;
}

.video-container .youtube .play {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 40px;
  height: 40px;
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 50%;
  background: rgb(255, 255, 255);
}
@media (max-width: 991.98px) {
  .video-container .youtube .play {
    width: 30px;
    height: 30px;
    bottom: 0px;
    padding: 9px;
  }
}

.video-container .youtube .play:before {
  content: "";
  background-image: url("../img/icons/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.fh5-light-box-title {
  display: none !important;
}