.rs-banner {
	height: 100vh;
	max-height: 973px;
	background-color: #000000;

	@media (max-width: 991.98px) {
		max-height: 604px;
	}

	&._small-banner {
		max-height: 645px;

		@media (max-width: 991.98px) {
			max-height: 530px;
		}
	}

	&__block {
		height: 100%;
		width: 100%;
		position: relative;
	}

	// .rs-banner__bg
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0.74) 7.315%,
				rgba(0, 0, 0, 0.55) 24.795%,
				rgba(0, 0, 0, 0.41) 100%
			);

			._small-banner & {
				display: none;
			}
		}

		iframe,
		video,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			&.rs-banner__bg--desk {
				@media (max-width: 991.98px) {
					display: none;
				}
			}
			&.rs-banner__bg--mob {
				@media (min-width: 991.98px) {
					display: none;
				}
			}
		}
	}

	// .rs-banner__content
	&__content {
		padding: 52px 0px;
		position: relative;
		z-index: 10;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;

		@media (max-width: 1439.98px) {
			padding: 40px 0px;
		}

		@media (max-width: 991.98px) {
			padding: 20px 0px;
		}

		._small-banner & {
			padding: 40px 0px;

			@media (max-width: 991.98px) {
				padding: 30px 0px;
			}
		}
	}

	// .rs-banner__container
	&__container {
	}

	// .rs-banner__wrapper
	&__wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		padding: 0px 115px;
		color: rgb(255, 255, 255);

		@media (max-width: 1439.98px) {
			padding: 0px 40px;
		}

		@media (max-width: 991.98px) {
			padding: 0px 50px 0px 0px;
		}

		._small-banner & {
			padding: 0px;
		}
	}

	// .rs-banner__scroll-down
	&__scroll-down {
		position: absolute;
		bottom: 3px;
		left: 0;
		writing-mode: vertical-rl;
		white-space: nowrap;
		transform: rotate(180deg);
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		letter-spacing: 0.5px;
		display: flex;
		align-items: center;

		@media (max-width: 1439.98px) {
			bottom: 0px;
			font-size: 12px;
			line-height: 15px;
		}

		@media (max-width: 991.98px) {
			display: none;
		}

		&::before {
			content: "";
			position: relative;
			display: block;
			width: 6px;
			height: 6px;
			background: rgb(255, 255, 255);
			border-radius: 50%;
			margin-bottom: 14px;
		}
	}

	// .rs-banner__body
	&__body {
		h6 {
			margin-top: 10px;

			@media (max-width: 991.98px) {
				margin-top: 5px;
			}
		}

		._small-banner & {
			h1 {
				font-family: "Jost", sans-serif;
				font-weight: 200;
				font-size: 60px;
				line-height: 110%;

				@media (max-width: 1439.98px) {
					font-size: 45px;
				}

				@media (max-width: 991.98px) {
					font-size: 30px;
				}
			}
		}
	}

	// .rs-banner__video-control
	&__video-control {
		position: absolute;
		bottom: 5px;
		right: 0;
	}
}
