.rs-partners {
	margin: 137px 0px 0px;
	
	// .rs-partners__container
	&__container {
	}

	// .rs-partners__head
	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .rs-partners__slider
	&__slider {
		margin-top: 40px;
	}

	// .rs-partners__swiper
	&__swiper {
	}

	// .rs-partners__slide
	&__slide {
		background: rgb(248, 250, 251);
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
