// <SELECT>
// Снипет (HTML): sel
.select {
	position: relative;
	width: 100%;

	&._select-error {
		.select__title {
			border-color: #0c75af;
		}

		.select__value {
			color: #0c75af;

			&::before {
				display: block;
			}
		}
	}

	// .select__body
	&__body {
		position: relative;
	}

	// .select__title
	&__title {
		color: inherit;
		text-align: left;
		cursor: pointer;
		width: 100%;
		border-radius: 5px;
		background: #f5f5f5;
		backdrop-filter: blur(1.5px);
	}

	// .select__value
	&__value {
		display: flex;
		align-items: center;
		padding: 15px 20px;
		color: #0c75af;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		@media (max-width: 1169.98px) {
			font-size: 13px;
		}

		> * {
			flex: 1 1 auto;
		}

		&:after {
			content: "\e900";
			font-family: "icons" !important;
			speak: never;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			align-self: stretch;
			order: 3;
			flex: 0 0 15px;
			margin: 0px 0px 0px auto;
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;
			color: inherit;
			font-size: 15px;

			._select-open & {
				transform: rotate(-180deg);
			}
		}

		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}

	&__content {
		order: 1;
	}

	// .select__text
	&__text {
		flex: 1 1 auto;
	}

	// .select__options
	&__options {
		position: absolute;
		top: 100%;
		min-width: 100%;
		left: 0;
		border-radius: 0px 0px 5px 5px;
		background: #fff;
		box-shadow: 0px 50px 77px 0px rgba(47, 83, 117, 0.1);
		padding: 20px;
		z-index: 10;
	}

	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальная высота
		max-height: 400px;
		// Стили скроллбара
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}

	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		color: inherit;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		transition: all 0.3s ease 0s;

		@media (max-width: 991.98px) {
			font-size: 13px;
		}

		&:first-child {
			display: none;
		}

		&:not(:last-child) {
			margin-bottom: 15px;

			@media (max-width: 1439.98px) {
				margin-bottom: 10px;
			}
		}

		&._select-selected {
			color: #0c75af;
		}

		@media (any-hover: hover) {
			&:hover {
				color: #0c75af;
			}
		}
	}

	// Конструкция дополнительных данных
	&__row {
		display: inline-flex;
		align-items: center;
	}

	&__asset {
	}

	&__text {
	}

	// Состояния селекта
	&._select-open {
		z-index: 5;
	}
}

// Тег
._select-tag {
	cursor: pointer;
}
