.swiper-button-prev,
.swiper-button-next {
	&:active,
	&:focus {
		outline: none !important;
	}
	&::-moz-focus-inner {
		border: 0 !important;
	}

	&::after {
		font-size: 0px;
	}
}

.swiper-pagination-bullet {
	&:active,
	&:focus {
		outline: none !important;
	}
	&::-moz-focus-inner {
		border: 0 !important;
	}
}

.swiper-button-lock {
	display: none !important;
}

.swiper-pagination-lock {
	display: none !important;
}

.swiper-button-disabled {
	opacity: 0.5;
}
